DB_HOST=localhost
DB_PORT=5432
DB_NAME=todokpl_db
DB_USER=postgres
DB_PASSWORD=
JWT_SECRET=ganti_dengan_secret_panjang_yang_acak
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@todokpl.local
ADMIN_PASSWORD=admin12345
